body{
  background-color: #422d00;
}
section{
  padding-bottom: 50px;
  width: 60%;
  margin-top: 50px;
  margin-left: 250px;
  text-align: center;
  color: aliceblue;
  position: relative;
}
.input1{
  color: white;
  padding: 5px;
  margin: 20px;
  width: 200px;
  border-collapse: collapse;
  font-size: 15px;
  border-bottom: 2px solid;
  background: #422d00de;
  border-left: 2px solid;
  border-top: none;
  border-right: 2px solid;
  border-radius: 5px;
}

.lgn{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  margin-top: 120px;
  margin-left: -150px;
  position: absolute;
  border-bottom: #422d00 solid 10px;
}
.logincon{
  float: left;
  height: 300px;
  background-color: #6444008f;
  padding-bottom: 50px;
  width: 60%;
  margin-top: 50px;
  margin-left: 200px;
  text-align: center;
  color: aliceblue;
}
.username{
  margin-top: 200px;
}
.username, .password{
  padding: 5px;
  color: aliceblue;
  margin-bottom: 10px;
  width: 300px;
  border-collapse: collapse;
  font-size: 15px;
  border-bottom: 2px solid;
  background: none;
  border-left: 2px solid;
  border-top: none;
  border-right: 2px solid;
  border-radius: 5px;
}
.encode{
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  border-radius: 5px;
  background-image: linear-gradient(#fff4cd , #ffdd61);
}
.submit{
  visibility: none;
}
.submit:hover, .encode:hover, .add:hover{
  cursor: pointer;
  background-image: linear-gradient(#7e6200 , #523f00);
  color:white;
}

li:hover{
  margin-top: -30px;
  font-size: 15px;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-image: linear-gradient(#7e6200 , #523f00);
  color:white;

}

.out:hover, .out2:hover{
  font-size: 15px;
  cursor: pointer;
  background-image: linear-gradient(#7e6200 , #523f00);
  color:white;
}
table{
  background-color:#422d00;
  max-width: 100%;
  width: 100%
}
table, td{
  color: #fff4cd;
  border: 1px solid #9b9786;
}
.min{
  max-width: 100px;
}
.out{
  float: left;
  margin-top: 0px;
  position: absolute;
  margin-left: 600px;
  font-size: 10px;
  padding: 5px;
  border-radius: 10px;
}
.admintext{
  padding-top: 10px;
  margin-top: -50px;
  float: left;
  position: absolute;
  font-size: 30px;
}
ul{
  text-align: start;
  background-image: linear-gradient(#fff4cd , #ffdd61);
  height: 40px;
  float: left;
  width: 840px;
  position: relative;
  margin-top: -10px;
  margin-left: -30px;
}
ul li{
  display: inline-block;
  
}
li{
  border-left: 1px solid #fff4cd;
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-top: 10px;
  margin-right: 20px;
}
.out2{
  float: left;
  margin-top: 0px;
  position: absolute;
  margin-left: 600px;
  font-size: 10px;
  padding: 5px;
  border-radius: 10px;
}
.encodertext{
  padding-top: 10px;
  margin-top: -50px;
  float: left;
  position: absolute;
  font-size: 30px;
}
.add{
  background-image: linear-gradient(#fff4cd , #ffdd61);
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 20px;
}
.input{
  padding: 5px;
  color: aliceblue;
  margin: 20px;
  width: 200px;
  border-collapse: collapse;
  font-size: 15px;
  border-bottom: 2px solid;
  background: none;
  border-left: 2px solid;
  border-top: none;
  border-right: 2px solid;
  border-radius: 5px;
}
.invalids{
  color: red;
}